IntAppServer/WebContent/wsdl/Message.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model" xmlns:intf="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getId">
    <complexType/>
   </element>
   <element name="getIdResponse">
    <complexType>
     <sequence>
      <element name="getIdReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDate">
    <complexType>
     <sequence>
      <element name="date" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDateResponse">
    <complexType/>
   </element>
   <element name="getDate">
    <complexType/>
   </element>
   <element name="getDateResponse">
    <complexType>
     <sequence>
      <element name="getDateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setIdResponse">
    <complexType/>
   </element>
   <element name="getContenu">
    <complexType/>
   </element>
   <element name="getContenuResponse">
    <complexType>
     <sequence>
      <element name="getContenuReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setContenu">
    <complexType>
     <sequence>
      <element name="contenu" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setContenuResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getIdRequest">

      <wsdl:part element="impl:getId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDateResponse">

      <wsdl:part element="impl:getDateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDateResponse">

      <wsdl:part element="impl:setDateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setContenuResponse">

      <wsdl:part element="impl:setContenuResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getContenuResponse">

      <wsdl:part element="impl:getContenuResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDateRequest">

      <wsdl:part element="impl:getDate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDateRequest">

      <wsdl:part element="impl:setDate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdResponse">

      <wsdl:part element="impl:setIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdResponse">

      <wsdl:part element="impl:getIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getContenuRequest">

      <wsdl:part element="impl:getContenu" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdRequest">

      <wsdl:part element="impl:setId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setContenuRequest">

      <wsdl:part element="impl:setContenu" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Message">

      <wsdl:operation name="getId">

         <wsdl:input message="impl:getIdRequest" name="getIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getIdResponse" name="getIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDate">

         <wsdl:input message="impl:setDateRequest" name="setDateRequest">

       </wsdl:input>

         <wsdl:output message="impl:setDateResponse" name="setDateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDate">

         <wsdl:input message="impl:getDateRequest" name="getDateRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDateResponse" name="getDateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId">

         <wsdl:input message="impl:setIdRequest" name="setIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setIdResponse" name="setIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getContenu">

         <wsdl:input message="impl:getContenuRequest" name="getContenuRequest">

       </wsdl:input>

         <wsdl:output message="impl:getContenuResponse" name="getContenuResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setContenu">

         <wsdl:input message="impl:setContenuRequest" name="setContenuRequest">

       </wsdl:input>

         <wsdl:output message="impl:setContenuResponse" name="setContenuResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MessageSoapBinding" type="impl:Message">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getContenu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getContenuRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getContenuResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setContenu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setContenuRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setContenuResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MessageService">

      <wsdl:port binding="impl:MessageSoapBinding" name="Message">

         <wsdlsoap:address location="http://localhost:8080/IntAppServer/services/Message"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
