IntAppServer/WebContent/wsdl/Utilisateur.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model" xmlns:intf="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="setId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setIdResponse">
    <complexType/>
   </element>
   <element name="setMail">
    <complexType>
     <sequence>
      <element name="mail" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setMailResponse">
    <complexType/>
   </element>
   <element name="voirUser">
    <complexType/>
   </element>
   <element name="voirUserResponse">
    <complexType/>
   </element>
   <element name="getNom">
    <complexType/>
   </element>
   <element name="getNomResponse">
    <complexType>
     <sequence>
      <element name="getNomReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setPrenom">
    <complexType>
     <sequence>
      <element name="prenom" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setPrenomResponse">
    <complexType/>
   </element>
   <element name="getMail">
    <complexType/>
   </element>
   <element name="getMailResponse">
    <complexType>
     <sequence>
      <element name="getMailReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNom">
    <complexType>
     <sequence>
      <element name="nom" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNomResponse">
    <complexType/>
   </element>
   <element name="getPrenom">
    <complexType/>
   </element>
   <element name="getPrenomResponse">
    <complexType>
     <sequence>
      <element name="getPrenomReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="verifriends">
    <complexType>
     <sequence>
      <element name="idFriends" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="verifriendsResponse">
    <complexType>
     <sequence>
      <element name="verifriendsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="liaisonFriends">
    <complexType>
     <sequence>
      <element name="idfriend" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="liaisonFriendsResponse">
    <complexType>
     <sequence>
      <element name="liaisonFriendsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUtilisateurs">
    <complexType>
     <sequence>
      <element name="mdp" type="xsd:string"/>
      <element name="nom" type="xsd:string"/>
      <element name="prenom" type="xsd:string"/>
      <element name="pseudo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUtilisateursResponse">
    <complexType>
     <sequence>
      <element name="addUtilisateursReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFriend">
    <complexType>
     <sequence>
      <element name="pseudo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFriendResponse">
    <complexType>
     <sequence>
      <element name="addFriendReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendmessage">
    <complexType>
     <sequence>
      <element name="message" type="xsd:string"/>
      <element name="idfriends" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendmessageResponse">
    <complexType>
     <sequence>
      <element name="sendmessageReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="connecUsers">
    <complexType>
     <sequence>
      <element name="pseudo" type="xsd:string"/>
      <element name="mdp" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="connecUsersResponse">
    <complexType>
     <sequence>
      <element name="connecUsersReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="liremessage">
    <complexType>
     <sequence>
      <element name="idFriends" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="liremessageResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="liremessageReturn" type="impl:Message"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Message">
    <sequence>
     <element name="contenu" nillable="true" type="xsd:string"/>
     <element name="date" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="getId">
    <complexType/>
   </element>
   <element name="getIdResponse">
    <complexType>
     <sequence>
      <element name="getIdReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="voirUserRequest">

      <wsdl:part element="impl:voirUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNomRequest">

      <wsdl:part element="impl:setNom" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNomResponse">

      <wsdl:part element="impl:setNomResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdResponse">

      <wsdl:part element="impl:setIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setPrenomResponse">

      <wsdl:part element="impl:setPrenomResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPrenomRequest">

      <wsdl:part element="impl:getPrenom" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="liremessageResponse">

      <wsdl:part element="impl:liremessageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNomRequest">

      <wsdl:part element="impl:getNom" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFriendResponse">

      <wsdl:part element="impl:addFriendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdRequest">

      <wsdl:part element="impl:setId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="liaisonFriendsResponse">

      <wsdl:part element="impl:liaisonFriendsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMailResponse">

      <wsdl:part element="impl:getMailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUtilisateursRequest">

      <wsdl:part element="impl:addUtilisateurs" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="voirUserResponse">

      <wsdl:part element="impl:voirUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdRequest">

      <wsdl:part element="impl:getId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMailRequest">

      <wsdl:part element="impl:getMail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPrenomResponse">

      <wsdl:part element="impl:getPrenomResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setPrenomRequest">

      <wsdl:part element="impl:setPrenom" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendmessageRequest">

      <wsdl:part element="impl:sendmessage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendmessageResponse">

      <wsdl:part element="impl:sendmessageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verifriendsResponse">

      <wsdl:part element="impl:verifriendsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFriendRequest">

      <wsdl:part element="impl:addFriend" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connecUsersResponse">

      <wsdl:part element="impl:connecUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMailResponse">

      <wsdl:part element="impl:setMailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setMailRequest">

      <wsdl:part element="impl:setMail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNomResponse">

      <wsdl:part element="impl:getNomResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="liaisonFriendsRequest">

      <wsdl:part element="impl:liaisonFriends" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUtilisateursResponse">

      <wsdl:part element="impl:addUtilisateursResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="liremessageRequest">

      <wsdl:part element="impl:liremessage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdResponse">

      <wsdl:part element="impl:getIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verifriendsRequest">

      <wsdl:part element="impl:verifriends" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connecUsersRequest">

      <wsdl:part element="impl:connecUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Utilisateur">

      <wsdl:operation name="setId">

         <wsdl:input message="impl:setIdRequest" name="setIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setIdResponse" name="setIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMail">

         <wsdl:input message="impl:setMailRequest" name="setMailRequest">

       </wsdl:input>

         <wsdl:output message="impl:setMailResponse" name="setMailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="voirUser">

         <wsdl:input message="impl:voirUserRequest" name="voirUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:voirUserResponse" name="voirUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNom">

         <wsdl:input message="impl:getNomRequest" name="getNomRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNomResponse" name="getNomResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPrenom">

         <wsdl:input message="impl:setPrenomRequest" name="setPrenomRequest">

       </wsdl:input>

         <wsdl:output message="impl:setPrenomResponse" name="setPrenomResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMail">

         <wsdl:input message="impl:getMailRequest" name="getMailRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMailResponse" name="getMailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNom">

         <wsdl:input message="impl:setNomRequest" name="setNomRequest">

       </wsdl:input>

         <wsdl:output message="impl:setNomResponse" name="setNomResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrenom">

         <wsdl:input message="impl:getPrenomRequest" name="getPrenomRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPrenomResponse" name="getPrenomResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="verifriends">

         <wsdl:input message="impl:verifriendsRequest" name="verifriendsRequest">

       </wsdl:input>

         <wsdl:output message="impl:verifriendsResponse" name="verifriendsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="liaisonFriends">

         <wsdl:input message="impl:liaisonFriendsRequest" name="liaisonFriendsRequest">

       </wsdl:input>

         <wsdl:output message="impl:liaisonFriendsResponse" name="liaisonFriendsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUtilisateurs">

         <wsdl:input message="impl:addUtilisateursRequest" name="addUtilisateursRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUtilisateursResponse" name="addUtilisateursResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFriend">

         <wsdl:input message="impl:addFriendRequest" name="addFriendRequest">

       </wsdl:input>

         <wsdl:output message="impl:addFriendResponse" name="addFriendResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendmessage">

         <wsdl:input message="impl:sendmessageRequest" name="sendmessageRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendmessageResponse" name="sendmessageResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="connecUsers">

         <wsdl:input message="impl:connecUsersRequest" name="connecUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:connecUsersResponse" name="connecUsersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="liremessage">

         <wsdl:input message="impl:liremessageRequest" name="liremessageRequest">

       </wsdl:input>

         <wsdl:output message="impl:liremessageResponse" name="liremessageResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdl:input message="impl:getIdRequest" name="getIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getIdResponse" name="getIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UtilisateurSoapBinding" type="impl:Utilisateur">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setMail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setMailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setMailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="voirUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="voirUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="voirUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNomRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNomResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPrenom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setPrenomRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setPrenomResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNomRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNomResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrenom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPrenomRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPrenomResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="verifriends">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="verifriendsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="verifriendsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="liaisonFriends">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="liaisonFriendsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="liaisonFriendsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUtilisateurs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUtilisateursRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUtilisateursResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFriend">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addFriendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addFriendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendmessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendmessageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendmessageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="connecUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="connecUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="connecUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="liremessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="liremessageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="liremessageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UtilisateurService">

      <wsdl:port binding="impl:UtilisateurSoapBinding" name="Utilisateur">

         <wsdlsoap:address location="http://localhost:8080/IntAppServer/services/Utilisateur"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
